body{
    color: #333a40;
     background-color: #ffffff;
     font-family: 'Montserrat' , sans-serif;
     width: 100%;
     height: auto;
     margin: 0;
   overflow-x: hidden;
     
 }
 
 
 .topnav {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  
  background-color:  #ffffffd3;


 
}

#Links {
width: 70%;


}

#Links a{
  margin-right: 10px;
float: right;


}

.topnav a {
  float: left;
  color:  #333a40;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}




.active {

  color: white;
}



.home-mobile{
  width: 50%;

}




.page-wrapper{
    width: 100%;
    
    margin: 0;
}



.profile-container{
    width: 100%;

}


.introduction{
    width: 100%;
   margin-top: 5%;
display: inline-block;
}


.profile-pic{
    width: 30%;
  margin-left: 20%;
  
 float: left;
 border-radius: 10px;
 border: .5px solid  #333a4038;
 box-shadow: 0 4px 8px 0  #3535353f;

}


.header{
  width: 60%;
  margin: auto;
}




.intro-text{
    width: 40%;
    
    float: left;

}



h1{
    font-weight: 600;
    font-size: 3rem;
    margin-top: 7%;
  margin-bottom: 2%;
 
}

h2{
  margin-top: 5%;
  margin-bottom: 3%;

  font-family: 'Montserrat' , sans-serif;  
  font-weight: 500;
  font-size: 1.5rem;

}
p{
    width: 80%;
   color: #333a40;
   margin: auto;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 2;

}

.resume-container{
    width: 100%;
    text-align: center;
    margin-top: 2%;
 
}


.resume{
  
  color:#333a40;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #333a40;
  outline: none;
  padding: 15px 40px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
 
  opacity: .5;
}

.resume:hover{
    background-color:#333a40;
  color:  #FAFAFA;
  font-weight: 600;
  opacity: 1;
  transition: .5s;
}

.map{
    width: 80%;
    margin-left: 10%;
   text-align: center;
}



.skills-wrapper{
  width: 1000px;
  margin: auto;


}


.skills{
  width:1000px;

display: inline-block;
margin-top: 0px;


}

.skill-list{
 width: 150px;
 margin: 20px;
 margin-bottom: 0px;
 
 font-size: 1.1rem;
 font-weight: 500;
 text-align: center;
 border-radius: 50px;
 border:1px solid #333a4094;
 background-color: white;
 float: left;
}




.toolkit{
  width: 1000px;
  margin: 0;margin-top: 30px;


display: inline-block;


}

.tools{
  width: 100px;
margin: 3.5px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0  #3535353f;
  background-color: white;
  
  
}

.tools img{
  width: 40%;
  margin-top: 10px;
}

.tools h2{
  font-size: 15px;
}









.hobbies{
    width: 60%;
    margin: auto;
  
}

.moretab{
    width: 25%;
display: inline-block;
    margin-left: 6.25%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: .5px solid  #333a4038;
    box-shadow: 0 4px 8px 0  #3535353f;
}


.tabtitle{
    width: 100%;
  
   text-align: center;
   margin-bottom: 3%;
}

.tabtitle img{
    width: 20%; 
    margin-top: 10%; 
}



.moretab p{
    width: 80%;
   color: #333a40;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 15px;
   line-height: 1.9;
}

footer{
    width: 100%;
  
    margin: auto;
}

footer h1{
    margin: auto;
    width: 50%;
    font-weight: 600;
    font-size: 2.5rem;
}
.contact{
    margin-top: 5%;
}
.contact p{
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
}

.description-images{
    width: 20%;
  

    
  margin: auto;
margin-top: 1%;
margin-bottom: 5%;

  }

  .description-images img{
    width: 15%;
  }



  @media only screen and (max-width:1000px) {
 
    body{
      width: 100%;
      overflow: scroll;
    }
    
    .navigation-bar{
      display: none;
    }
    
      .body-container {
    display: none;
      }
    
    
      .mobile-container {
        max-width: inherit;
        max-height: inherit;
        margin: auto;
        background-color: #FAFAFA;
        color:  #333a40;
        display: block;
      }
    
      
    
      
      .topnav {
        overflow: hidden;
     width: 100%;
     display: flex;
        justify-content: center;
        align-items: center;
      
     
        
        background-color:  #fafafad3;
    
     
       
      }
      
    #Links {
      width: 100%;
    
    
      }
    
      #Links a{
        margin-left: 10px;
      float: right;
      
     
      }
      
      .topnav a {
        float: left;
        color:  #333a40;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      
    
      
    
      .active {
      background-color: #fafafa00;
        color: white;
      }
    
     
    
      .home-mobile{
        width: 40px;
      }


   





































      
    }


