body{
    color: #333a40;
     background-color: #FAFAFA;
     font-family: 'Montserrat' , sans-serif;
     width: 100%;
     height: auto;
     margin: 0;
   overflow-x: hidden;
     
 }
 
 
 .navigation-bar{
     width: 100%;
     height: 8%;
     margin-top: 0%;
     
 }
 
 
 .navigation{
     width: 100%;
     margin-top: 1%;
 
 }
 .navigation-options{
     width: 100%;
     
 }
 
 .home{
   width: 3%;
 margin-left: 3%;
    
 }
 


.page-wrapper{
    width: 100%;
    
    margin: 0;
}



.profile-container{
    width: 100%;

}


.introduction{
    width: 100%;
   margin-top: 5%;
display: inline-block;
}
.profile-pic{
    width: 30%;
  margin-left: 20%;
  
 float: left;
}



.intro-text{
    width: 40%;
    
    float: left;

}



h1{
    font-weight: 600;
    text-align: center;
}
p{
    width: 80%;
   color: #333a40;
   margin: auto;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 17px;
   line-height: 1.9;

}

.resume-container{
    width: 100%;
    text-align: center;
    margin-top: 2%;
   
}

.resume{
  
  color:#333a40;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #333a40;
  outline: none;
  padding: 15px 40px;
  background-color: #FAFAFA;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  transition: .5s;
}

.resume:hover{
    background-color:#333a40;
  color:  #FAFAFA;
  font-weight: 600;
}

.map{
    width: 50%;
    margin-left: 10%;
}

.lifemap{
    width: 40%;
    float: right;
    margin-top: 5%;
}

.more{
    width: 100%;
    display: inline-block;
}

.moretab{
    width: 25%;
 float: left;
    margin-left: 6.25%;
    margin-bottom: 3%;
}


.tabtitle{
    width: 100%;
  
   text-align: center;
   margin-bottom: 3%;
}

.tabtitle img{
    width: 20%;  
}

h2{
    width: 100%;
   margin: 0;
    color: #333a40;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;

}

.moretab p{
    width: 80%;
   color: #333a40;
   margin: auto;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 15px;
   line-height: 1.9;
}

footer{
    width: 100%;
  
    margin: auto;
}

footer h1{
    margin: auto;
    width: 50%;
    font-weight: 600;
    font-size: 2.5rem;
}
.contact{
    margin-top: 5%;
}
.contact p{
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
}

.description-images{
    width: 10%;
  

    
  margin: auto;
margin-top: 1%;
margin-bottom: 5%;
  }

  .description-images img{
    width: 25%;
  
  }

